.gscw-bold 
{
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.gscw-code 
{
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	font-family: monospace;
	font-size: 16px;
	padding: 10px;
}

.gscw-container 
{
	background-color: gray;
	height: 100vh;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
}

.gscw-container-rounder 
{
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	font-family: arial, sans-serif;
	height: 90vh;
	margin: 3vh auto;
	padding: 20px 0;
	overflow: hidden;
	width: 94%;
}

.gscw-container-scroller 
{
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	top: 0;
}

.gscw-content 
{
	min-height: calc(100% - 40px); /* Stretch scroller minus its padding */
	padding: 0 20px; /* Horizontal padding for content */
	white-space: pre-line;
	word-wrap: break-word;
}

.gscw-heading 
{
	font-size: 24px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.gscw-hr 
{
	margin: 0;
	padding: 0;
}

.gscw-image 
{
	color: gray;
	font-style: italic;
}

.gscw-internallink
{
	color: blue;
	cursor: pointer;
	text-decoration: none;
}

.gscw-internallink:hover 
{
	color: blue;
	text-decoration: underline;
}

.gscw-internallink:visited 
{
	color: blue;
}

.gscw-link 
{
	color: blue;
	cursor: pointer;
	text-decoration: none;
}

.gscw-link:hover 
{
	color: blue;
	text-decoration: underline;
}

.gscw-link:visited 
{
	color: blue;
}

.gscw-list 
{
	list-style-position: inside;
	margin: 10px 0 0 20px;
	padding: 0;
}

.gscw-subheading 
{
	font-size: 20px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.gscw-subsubheading 
{
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.gscw-subsubsubheading 
{
	font-size: 16px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

table.gscw-table
{
	border-collapse: collapse;
	border: 1px solid #ddd;
	margin-bottom: 30px;
	width: 100%;
}

table.gscw-table td 
{
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

table.gscw-table th 
{
	background-color: #f0f0f0;
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

table.gscw-table tr:nth-child(even) 
{
	background-color: #f9f9f9;
}

table.gscw-table tr:hover 
{
	background-color: #ddd;
}